@font-face {
    font-family: ZentaoIcon;
    src: url("/exts/zentao/icons/public/ZentaoIcon.eot?v=1.74");
    src: url("/exts/zentao/icons/public/ZentaoIcon.woff?v=1.74") format("woff"), url("/exts/zentao/icons/public/ZentaoIcon.ttf?v=1.74") format("truetype"), url("/exts/zentao/icons/public/ZentaoIcon.svg?v=1.74#regular") format("svg");
    font-weight: normal;font-style: normal;
}

.ci-font,
.ci-text,
.ci-bold,
.ci-italic,
.ci-underline,
.ci-strikethrough,
.ci-link,
.ci-unlink,
.ci-heading,
.ci-heading_h1,
.ci-heading_h2,
.ci-heading_h3,
.ci-heading_h4,
.ci-code,
.ci-window_code_block,
.ci-list_unordered,
.ci-list_ordered,
.ci-image_02,
.ci-table,
.ci-combine_cells,
.ci-paragraph,
.ci-bar_top,
.ci-swatches_palette {font-size: 1em!important;}

.ci-swatches_palette:before {font-family: ZentaoIcon!important; content: "\ea23"!important;}
.ci-font:before {font-family: ZentaoIcon!important; content: "\ea20"!important;}
.ci-text:before {font-family: ZentaoIcon!important; content: "\e929"!important;}
.ci-bold:before {font-family: ZentaoIcon!important; content: "\e953"!important;}
.ci-italic:before {font-family: ZentaoIcon!important; content: "\e955"!important;}
.ci-underline:before {font-family: ZentaoIcon!important; content: "\ea2b"!important;}
.ci-strikethrough:before {font-family: ZentaoIcon!important; content: "\ea2c"!important;}
.ci-link:before {font-family: ZentaoIcon!important; content: "\e94d"!important;}
.ci-unlink:before {font-family: ZentaoIcon!important; content: "\ea51"!important;}
.ci-heading:before {font-family: ZentaoIcon!important; content: "\e954"!important;}
.ci-heading_h1:before {font-family: ZentaoIcon!important; content: "\ea25"!important;}
.ci-heading_h2:before {font-family: ZentaoIcon!important; content: "\ea26"!important;}
.ci-heading_h3:before {font-family: ZentaoIcon!important; content: "\ea27"!important;}
.ci-heading_h4:before {font-family: ZentaoIcon!important; content: "\ea28"!important;}
.ci-code:before {font-family: ZentaoIcon!important; content: "\e990"!important;}
.ci-window_code_block:before {font-family: ZentaoIcon!important; content: "\ea39"!important;}
.ci-list_unordered:before {font-family: ZentaoIcon!important; content: "\e9a8"!important;}
.ci-list_ordered:before {font-family: ZentaoIcon!important; content: "\e969"!important;}
.ci-image_02:before {font-family: ZentaoIcon!important; content: "\e96c"!important;}
.ci-table:before {font-family: ZentaoIcon!important; content: "\e96d"!important;}
.ci-combine_cells:before {font-family: ZentaoIcon!important; content: "\ea48"!important;}
.is-active > .ci-combine_cells:before {font-family: ZentaoIcon!important; content: "\ea47"!important;}
.ci-paragraph:before {font-family: ZentaoIcon!important; content: "\ea50"!important;}
.ci-bar_top:before {font-family: ZentaoIcon!important; content: "\e96b"!important;}
.is-active > .ci-bar_top:before {font-family: ZentaoIcon!important; content: "\e972"!important;}
